extends layout

block content
  a.menu-toggle.rounded(href='#')
    i.fas.fa-bars
  nav#sidebar-wrapper
    ul.sidebar-nav
      li.sidebar-nav-item
        a.js-scroll-trigger(href='#page-top') Home
      li.sidebar-nav-item
        a.js-scroll-trigger(href='#about') Mapa
      li.sidebar-nav-item
        a.js-scroll-trigger(href='/bicicletas') Modificar Bicicletas
  header.masthead.d-flex
    .container.text-center.my-auto
      h1.mb-1 #{title}
      h3.mb-5
        em Bienvenido a #{title}
      a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Ver el mapa
    .overlay

  section#about.content-section.bg-light
    .container.text-center
      .row
        .col-lg-10.mx-auto
          h2 Mapa con las bicicletas agregadas
          br
          #mapid
  script(src='/javascripts/map.js')
