doctype html
html
  head
    title= title
    link(href='stylesheets/style.css' rel='stylesheet')
    link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')
    link(href='vendor/simple-line-icons/css/simple-line-icons.css' rel='stylesheet')
    link(href='stylesheets/stylish-portfolio.min.css' rel='stylesheet')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
    script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
  body#page-top
    block content
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='vendor/jquery-easing/jquery.easing.min.js')
    script(src='javascripts/stylish-portfolio.min.js')

