extends ../layout

block content
  a.btn.btn-primary(href='/bicicletas') Regresar
  br
  br
  form.form-group(action='/bicicletas/create' method='post')
    label(for='id') CODIGO
    input#id(type='text' name='id')
    label(for='color') COLOR
    input#color(type='text' name='color')
    label(for='modelo') MODELO
    input#modelo(type='text' name='modelo')
    label(for='lat') LATITUD
    input#lat(type='text' name='lat')
    label(for='lng') LONGITUD
    input#lng(type='text' name='lng')
    button.btn.btn-primary(type='submit') GUARDAR