extends ../layout

block content
  br
  br
  center
    a.btn.btn-primary.btn-xl(href='/bicicletas/create') CREAR NUEVA BICI
  br
  br
  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') COLOR
        th(scope='col') MODELO
        th(scope='col') UBICACION
    tbody
      each bici in bicis
        tr
          td=bici.id
          td=bici.color
          td=bici.modelo
          td=bici.ubicacion
          td
            form(method='post' action='/bicicletas/delete/' + bici.id)
              button.btn.btn-primary(type='submit') Eliminar